Repository hsmusic/hsmusic-data, pull requests merged in 2023-08, with the labels that each got.

#220 Album additions!
  album/ancestral.yaml
  album/beforus.yaml
  album/cool-and-new-volume-2.yaml
  album/cool-and-new-volume-ii.yaml
  album/cool-and-new-volume-v.yaml
  album/cosmic-caretakers.yaml
  album/cyber-city-sound-pak.yaml
  album/diverging-delicacies.yaml
  album/gotta-hatch-em-all.yaml
  album/gristmas-carols.yaml
  album/homestuck-vol-7.yaml
  album/lofam.yaml
  album/lofam3.yaml
  album/lofam4.yaml
  album/moons-of-theseus.yaml
  album/more-homestuck-fandom.yaml
  album/oceanfables-ray-of-light.yaml
  album/oceanfalls-vol-1.yaml
  album/oceanfalls-vol-2.yaml
  album/oceanfalls-vol-3.yaml
  album/oceanfalls-vol-4.yaml
  album/oceanfalls-vol-five.yaml
  album/of-troles-and-chiptumes.yaml
  album/references-beyond-homestuck.yaml
  album/sburban-neighborhood.yaml
  album/skaias-the-limit.yaml
  album/weird-puzzle-tunes.yaml
  album/xenoplanetarium.yaml
  artists.yaml
  groups.yaml
  homepage.yaml
  static-page/changelog.yaml
  tags.yaml
Labels: scope: fandom, scope: beyond, type: addition, type: content fix, type: data fix, what: additional files, what: albums & tracks, what: artists & contributions

#224 Album additions: call and new + cool and new vol s*x
  album/call-and-new.yaml
  album/cool-and-new-volume-sx.yaml
  album/cool-and-new-volume-v.yaml
  album/more-homestuck-fandom.yaml
  album/references-beyond-homestuck.yaml
  artists.yaml
  tags.yaml
Labels: scope: fandom, type: addition, what: albums & tracks

#223 Album addition: Spelunky Classic
  album/spelunky-classic.yaml
  artists.yaml
Labels: scope: beyond, type: addition

#186 Album addition: Crossmound Vol. 1
  album/crossmound-vol-1.yaml
  artists.yaml
  tags.yaml
Labels: scope: fandom, type: addition
